<!DOCTYPE html>
<html lang="fr">
    <meta  charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <head>
        {% block head %}
            <link rel="icon" href="{{ site_url() }}favicon.ico">
            <title>{% block title %}{{ lang('kpi_' ~ page) }}{% endblock %}</title>
            {% block style %}
                <link rel="stylesheet" href="{{ lib_url('bootstrap-4.3.1/css/bootstrap.min.css') }}">
                <link rel="stylesheet" href="{{ lib_url('jquery-ui-1.12.1/jquery-ui.min.css') }}">
                <link rel="stylesheet" href="{{ lib_url('fontawesome-5.11.2/css/all.css') }}">
                <link rel="stylesheet" href="{{ css_url('style') }}">
                
{#                <link rel="stylesheet" href="{{ css_url('librairies/jquery-ui') }}" type="text/css"/>
                <link rel="stylesheet" href="{{ css_url('librairies/jquery-te-1.4.0') }}">
                <link rel="stylesheet" href="{{ css_url('librairies/bootstrap-theme') }}">
                <link rel="stylesheet" href="{{ css_url('librairies/jquery.dataTables') }}" type="text/css"/>
                <link rel="stylesheet" href="{{ css_url('librairies/font-awesome') }}" type="text/css"/>
                <link rel="stylesheet" href="{{ css_url('librairies/buttons.dataTables.min') }}">
                <link rel="stylesheet" href="{{ css_url('librairies/themeroller') }}">
                <link rel="stylesheet" href="{{ css_url('librairies/highcharts') }}">
#}            {% endblock %}
        {% endblock %}
    </head>
    <body>
{#        {% include 'tpl/include/modal_credits.html' %}#}
        <!--[if lt IE 9]>
            <p class="browserupgrade">Vous utilisez un navigateur <strong>obsolète</strong>. Merci de mettre à jour votre navigateur, ou utiliser de préférence Mozilla Firefox.</p>
        <![endif]-->
        
        <!-- Navigation -->
        {% block navigation %}
            <header id="header">
                {% if menu_public|length > 0 %}
                    <nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-main">
                        <a class="navbar-brand" href="{{ base_url() }}" title="Kayak-polo.info">
                            <span class="btn btn-sm btn-outline-dark"><b>KPI</b></span>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPublic" aria-controls="navbarPublic" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa fa-bars"></span>
                        </button>
                        {% if menu_admin|length > 0 %}
                            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarLoggedIn" aria-controls="navbarLoggedIn" aria-expanded="false" aria-label="Toggle navigation">
                                Administration <span class="fa fa-bars fa-sm"></span>
                            </button>
                        {% endif %}
                        <div class="collapse navbar-collapse" id="navbarPublic">
                            <ul class="navbar-nav mr-auto">
                                {% for item in menu_public %}
                                    {% if item.content|length > 0 %}
                                        <li class="nav-item dropdown"{% if item.page == page %} active{% endif %}>
                                            <a class="nav-link dropdown-toggle" href="{{ item.route }}" id="dropdown{{ item.label }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ item.label }}{% if item.page == page %} <span class="sr-only">(current)</span>{% endif %}
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdown{{ item.label }}">
                                                {% for item2 in item.content %}
                                                    {% if item2.content == 'separator' %}
                                                        <div class="dropdown-divider"></div>
                                                    {% else %}
                                                        <a class="dropdown-item" href="{{ item2.route }}">{{ item2.label }}</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="nav-item{% if item.page == page %} active{% endif %}">
                                            <a class="nav-link" href="{{ item.route }}">
                                                {{ item.label }}{% if item.page == page %} <span class="sr-only">(current)</span>{% endif %}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li class="nav-item">
                                    <a class="nav-link nav-lang" data-lang="french" href="#"><img src="{{ img_url('fra-60.png') }}" height="16" alt="FR" title="Français" class="d-inline-block align-top"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-lang" data-lang="english" href="#"><img src="{{ img_url('gbr-60.png') }}" height="16" alt="EN" title="English" class="d-inline-block align-top"></a>
                                </li>
                            </ul>


                            <ul class="navbar-nav">
                                {% if current_user %}
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user" aria-hidden="true"></i> {{ current_user.first_name }} {{ current_user.last_name }}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownId">
                                        <a class="dropdown-item" href="#">
                                            <label><i class="fa fa-user-tag" aria-hidden="true"></i> {{ lang('kpi_Roles') }}</label> : <br>
                                            {% for group in current_user.groups %}
                                                <span class="badge badge-secondary" title="{{ group.description }}">{{ group.name }}</span>
                                            {% endfor %}
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><i class="fa fa-id-card" aria-hidden="true"></i> {{ lang('kpi_login_Account') }}</a>
                                        <a class="dropdown-item" href="{{ base_url('auth/change_password') }}"><i class="fa fa-key" aria-hidden="true"></i> {{ lang('kpi_login_Change_password') }}</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ base_url('auth/logout') }}"><i class="fa fa-sign-out-alt" aria-hidden="true"></i> {{ lang('kpi_login_Logout') }}</a>
                                    </div>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ base_url('auth/login') }}">
                                            <i class="fa fa-sign-in-alt" aria-hidden="true"></i> {{ lang('kpi_login_Login') }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>

                        </div>
                    </nav>
                {% endif %}

                {% if menu_admin|length > 0 %}
                    <!-- Navbar logged-in -->                
                    <nav class="navbar fixed-top navbar-expand-lg navbar-light fixed-top-2 navbar-logged-in">
                        <div class="collapse navbar-collapse" id="navbarLoggedIn">
                            <ul class="navbar-nav ml-auto">
                                {% for item in menu_admin %}
                                    {% if item.content|length > 0 %}
                                        <li class="nav-item dropdown{% if item.page == page %} active{% endif %}">
                                            <a class="nav-link dropdown-toggle" href="{{ item.route }}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ item.label }}{% if item.page == page %} <span class="sr-only">(current)</span>{% endif %}
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                                {% for item2 in item.content %}
                                                    {% if item2.content == 'separator' %}
                                                        <div class="dropdown-divider"></div>
                                                    {% else %}
                                                        <a class="dropdown-item" href="{{ item2.route }}">{{ item2.label }}</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="nav-item{% if item.page == page %} active{% endif %}">
                                            <a class="nav-link" href="{{ item.route }}">
                                                {{ item.label }}{% if item.page == page %} <span class="sr-only">(current)</span>{% endif %}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                    <span></span>
                {% endif %}

            </header>
        {% endblock %}

        <!-- Contenu -->
        {% block contenu %}

        {% endblock %}

        <!-- Footer -->
        <footer>
            {% block footer %}
                <nav class="navbar navbar-dark navbar-main mt-2">
                    <span class="navbar-text ml-auto" href="#">
                        {% block copyright %}&copy; Copyright {{ date('Y') }} - FFCK - v{{ version() }}{% endblock %}
                    </span>
                </nav>
            {% endblock %}
        </footer>

        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        {% block javascript %}

        <script> role = "{{ role }}";</script>
        <script> base_url = "{{ base_url() }}";</script>
        <script> version = "{{ version() }}";</script>

        <script src="{{ lib_url('jquery-3.4.1.min.js') }}"></script>
        <script src="{{ lib_url('jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
        <script src="{{ lib_url('bootstrap-4.3.1/js/bootstrap.bundle.min.js') }}"></script>
        <script>
            $(function() {
                $('.nav-lang').click(function(e) {
                    e.preventDefault();
                    var lang = $(this).data('lang');
                    $.post( 
                        "{{ base_url('home/lang') }}", 
                        { lang: lang },
                        function( data ) {
                            location.reload();
                        }, 
                        "json"
                    );
                });
            });
        </script>
{#        <script src="{{ js_url('librairies/jquery-ui') }}"></script>
        <script src="{{ js_url('jqte/jquery-te-1.4.0.min') }}" type="text/javascript"></script>
        <script src="{{ js_url('librairies/jquery.dataTables') }}" type="text/javascript"></script>
        <script src="{{ js_url('librairies/jquery.jeditable') }}" type="text/javascript"></script>
        <script src="{{ js_url('librairies/bootstrap') }}" type="text/javascript"></script>
        <script src="{{ js_url('librairies/jquery.ui.datepicker-fr') }}" type="text/javascript"></script>
        <script src="{{ js_url('librairies/jquery.mask') }}" type="text/javascript"></script>
#}
            <noscript><div id="noscript-warning">MERCI D'ACTIVER LE JAVASCRIPT POUR UTILISER KPI</div></noscript>
        {% endblock %}
    </body>
</html>
