{% extends "templates/trame.html.twig" %}

{% block contenu %}
<!-- Je réécris le block contenu -->
    <div align="center">
    <div id="infoMessage">{{ message }}</div>
    
    <h1>{{ title }}</h1>
    <h2>{{ title2 }}</h2>
    <h3>{{ lang('kpi_title') }}</h3>
    
    {% for matchs_item in matchs %}

        <h3>{{ matchs_item.Numero_ordre }}</h3>
        <div class="main">
            {{ matchs_item.Date_match }} {{ matchs_item.Heure_match }}
            <a class="btn btn-primary" href="{{ base_url('matchs/view/' ~ matchs_item.Id) }}">Voir le match</a>
        </div>

    {% endfor %}
{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script>
        $(function() {
            $( "#date" ).datepicker();
        });
    </script>
{% endblock %}

