<h2>{{ title }}</h2>

{% for matchs_item in matchs %}

    <h3>{{ matchs_item.Numero_ordre }}</h3>
    <div class="main">
        {{ matchs_item.Date_match }} {{ matchs_item.Heure_match }}
    </div>
    <p><a href="{{ base_url('matchs/' ~ matchs_item.Id) }}">Voir le match</a></p>

{% endfor %}
