{% extends "templates/trame.html.twig" %}

{% block contenu %}
<div class="row justify-content-md-center">
    <div id="loginbox" class="col-md-6">                    
        <div class="card mb-5 mt-3">
            <div class="card-header text-white bg_ffck_primary">
                <h4>{{ lang('edit_group_heading') }}</h4>
            </div>     

            <div class="card-body" >

                <div id="infoMessage">{{ message |raw }}</div>
                    
                {{ form_open("auth/edit_group/".group_id, 'role="form" class="form-horizontal row"') }}
                            
                    <div class="col-12">

                        <div class="form-group row">
                            {{ form_label(lang('kpi_login_Group_name'), '', 'class="col-sm-3 col-form-label"') }}
                            <div class="col-sm-9">
                                {{ form_input(group_name) }}
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            {{ form_label(lang('kpi_login_Description'), '', 'class="col-sm-3 col-form-label"') }}
                            <div class="col-sm-9">
                                {{ form_input(group_description) }}
                            </div>
                        </div>

                    </div>
                    <div class="col-12">
                        <div class="row justify-content-between mt-3">
                            <div class="col-4">
                                <a href="{{ site_url('auth/index') }}" class="btn btn-secondary">{{ lang('kpi_Retour') }}</a>
                            </div>
                            <div class="col-4 text-right">
                                {{ form_submit('submit', lang('edit_group_submit_btn'), 'class="btn btn-primary"') }}
                            </div>
                        </div>
                    </div>

                    {{ form_hidden(csrf) }}

                {{ form_close() }}     

            </div>                     
        </div>  
    </div>  
</div>
<br>
<br>
<br>
{% endblock %}