{% extends "templates/trame.html.twig" %}

{% block contenu %}
<div class="row justify-content-md-center">
    <div id="loginbox" class="col-md-6">                    
        <div class="card mb-5 mt-3">
            <div class="card-header text-white bg_ffck_primary">
                <h4>{{ lang('kpi_login_Forgot_password') }}</h4>
            </div>     

            <div class="card-body" >

                <div id="infoMessage">{{ message |raw }}</div>
                    
                <form id="login" class="form-horizontal" role="form" method="post" action="{{ base_url() }}auth/forgot_password">
                            
                    <div class="input-group">
                        <label>{{ lang('kpi_login_toChangePassword') }}</label>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-user"></i></div>
                        </div>
                        <input id="identity" type="text" class="form-control" name="identity" value="" placeholder="{{ lang('kpi_login_Identity') }}" autocomplete="off">                                        
                    </div>
                    <br>
                    <div class="input-group">
                        <label>{{ lang('kpi_login_emailWillBeSent') }}</label>
                    </div>
                    <br>
                    <div class="form-group mt-3">
                        <!-- Button -->
                        <div class="input-group-prepend float-left">
                            <a href="{{ site_url('auth/login') }}" class="btn btn-secondary">Retour</a>
                        </div>
                        <div class="input-group-prepend float-right">
                            <input type="submit" name="submit" class="btn btn-primary" value="{{ lang('kpi_login_Send') }}">
                        </div>
                    </div>

                </form>     



            </div>                     
        </div>  
    </div>  
</div>
<br>
<br>
<br>
{% endblock %}

