{% extends "templates/trame.html.twig" %}

{% block navigation %}
    {{ parent() }}        
{% endblock %}

{% block contenu %}
<div align="center">
    
    <br>
    <div id="infoMessage">{{ message |raw }}</div>
    
    <div id="modal_attribution" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <center><h4 class="titre_modal"><u>{{ lang('kpi_Identify') }}</u></h4></center>
                </div>
                <div class="modal-body">
                    <form id="login" action="{{ base_url() }}auth/login" method="post">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4">
                                <label for="login_string" class="form_label">{{ lang('kpi_Login') }} :&nbsp;</label>
                            </div>
                            <div class="col-lg-4">
                                <input required type="text" name="identity" id="identity" class="form_input" autocomplete="off" maxlength="255" />
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4">
                                <label for="login_pass" class="form_label">{{ lang('kpi_Password') }} : </label>
                            </div>
                            <div class="col-lg-4">
                                <input required type="password" name="password" id="password" class="form_input password" autocomplete="off" maxlength="{{ config_item('max_chars_for_password') }}" />
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <br>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-5">
                                        <a href="{{ base_url() }}auth/forgot_password" class="btn btn-warning">{{ lang('kpi_Reinit_password') }}</a>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-3">
                                    <input type="submit" name="submit" value="{{ lang('kpi_Login') }}" id="submit_button" class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

