{% extends "templates/trame-table.html.twig" %}

{% block contenu %}
<div class="container-fluid">
    <h1>{{ lang('index_heading') }}</h1>
    {# <p class="text-center">{{ lang('index_subheading') }}</p> #}

    <div id="infoMessage">{{ message | raw }}</div>

    <table id="table_users" class="table table-striped table-compact table-wide">
        <thead>
            <tr>
                <th>{{ lang('kpi_login_Identity') }}</th>
                <th>{{ lang('index_lname_th') }}</th>
                <th>{{ lang('kpi_login_Seasons') }}</th>
                <th>{{ lang('kpi_login_Compets') }}</th>
                <th>{{ lang('kpi_login_Phases') }}</th>
                <th>{{ lang('kpi_login_Clubs') }}</th>
                <th>{{ lang('index_groups_th') }}</th>
                <th>{{ lang('index_action_th') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}
                        <br><small>{{ user.email }}</small>
                    </td>
                    <td><small>{{ user.seasons }}</small></td>
                    <td><small>{{ user.compets }}</small></td>
                    <td><small>{{ user.phases }}</small></td>
                    <td><small>{{ user.clubs }}</small></td>
                    <td>
                        {% for role in user.roles %}
                            <a class="badge badge-info" href="{{ base_url() }}auth/edit_group/{{ role.id }}" 
                                title="{{ role.description }}">{{ role.name | upper }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ base_url() }}auth/edit_user/{{ user.id }}" 
                                title=""><i class="fa fa-edit"></i></a>
                        {% if user.active %}
                            <a class="btn btn-sm btn-success" href="{{ base_url() }}auth/deactivate/{{ user.id }}" 
                                title="{{ lang('index_inactive_link') }}"><i class="fa fa-lock-open"></i></a>
                        {% else %}
                            <a class="btn btn-sm btn-danger" href="{{ base_url() }}auth/activate/{{ user.id }}" 
                                title="{{ lang('index_active_link') }}"><i class="fa fa-lock"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        <a class="btn btn-sm btn-primary" href="{{ base_url() }}auth/create_user" 
                title=""><i class="fa fa-user-plus"></i> {{ lang('index_create_user_link') }}</a>
        |
        <a class="btn btn-sm btn-primary" href="{{ base_url() }}auth/create_group" 
                title=""><i class="fa fa-user-tag"></i> {{ lang('index_create_group_link') }}</a>
    </p>
</div>
<br>
<br>
<br>
{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script>
        $(function() {
            $('#table_users').DataTable({
                {% if i18n == 'fr_FR' %}
                    "language": {
                        "url": "{{ lib_url('datatables.fr_FR.lang.json') }}"
                    }
                {% endif %}
            });
        });
    </script>
{% endblock %}